body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
}

.menu_item a {
  text-decoration: none;
  color: black;
}

/* nav a {
  
} */

.header_nav {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

/* li {
  list-style: none;
} */

.services li {
  list-style: none;
}

.catalog_item,
.menu_item,
.footer_item,
.nav_item {
  list-style: none;
}

.header_nav a:hover,
.header_nav a:focus {
  color: #fb565a;
}

.services {
  text-align: center;
}

.btn {
  width: 160px;
  height: 50px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.service-sites {
  background-color: #fb565a;
}

.service-sites:hover,
.service-sites:focus {
  background-color: #e74246;
}

.service-apps {
  background-color: #00ca74;
}

.service-apps:hover,
.service-apps:focus {
  background-color: #00bc6c;
}

.service-presentations {
  background-color: #efc84a;
}
.service-presentations:hover,
.service-presentations:focus {
  background-color: #eab534;
}

.services h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.services p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

footer div {
  text-align: center;
}

.footer_item a {
  text-decoration: none;
}

.footer_item img:hover,
.footer_item img:focus {
  background-color: #e74246;
}

/* footer img {
  background-image: url(Shape_2_copy_5.png);
}

footer img:hover,
footer img:focus {
  background-color: #e74246;
} */

.header_title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}

.button {
  border: none;
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
}
/* -------СЕТКИ------- */

.conainer {
  margin: 0 auto;
}

.header {
  height: 545px;
}

/* 
.header_nav {
  display: flex;
  
}

.menu{
  display: flex;
  justify-content: space-evenly;
} */

